image: golang:1.9-alpine
stages:
  - test

before_script:
  - apk add --update git
  - ln -s /builds /go/src/github.com
  - go get github.com/tools/godep
  - cd /go/src/github.com/${CI_PROJECT_PATH}

test:
  stage: test
  script:
    - godep restore
    - godep go test -v -cover ./...
